.catalog__wrapper {
  @include container;
  display: flex;
}

.catalog__list {
  @include list-reset;
  position: relative;
}

.catalog__link {
  @include link-reset;
}

.catalog__title {
  margin: 0;
  padding: 25px;

  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: $color-main;
}

.catalog__nav {
  width: 350px;
}

.catalog__nav .catalog__link {
  position: relative;

  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;

  color: $color-main;
  font-size: 24px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  &::after {
    display: none;

    content: "";
    position: absolute;
    top: 50%;
    right: 40px;

    width: 0;
    height: 0;

    border: 10px solid $color-add;
    border-top-color: transparent;
    border-right: none;
    border-bottom-color: transparent;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-add;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.catalog__nav .catalog__link:hover::after,
.catalog__nav .catalog__link:focus::after {
  display: block;
}

.catalog__content {
  max-width: 810px
}

.catalog__content .catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__content .catalog__item {
  margin-bottom: 10px;
}

.catalog__dropdown {
  @include columns;

  position: absolute;
  top: 0;
  left: 320px;
  z-index: 1;

  display: none;
  width: 550px;
  padding: 30px 50px;

  background-color: #ffffff;
  border: 1px solid $color-add;
}

.catalog__link:hover + .catalog__dropdown,
.catalog__link:focus + .catalog__dropdown, {
  display: flex;
}

.catalog__dropdown:hover {
  display: flex;
}

.catalog__dropdown .catalog__list {
  flex-shrink: 0;

  color: $color-main;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  &--inner {
    padding-left: 20px;

    font-size: 14px;
    line-height: 24px;
  }
}

.catalog__dropdown .catalog__link {
  padding: 0;

  font-size: inherit;
  line-height: inherit;

  &::after {
    content: none;
  }
}
