.contacts {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
  max-width: 300px;

  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;

    width: 1px;

    background-color: $color-main;
  }
}

.contacts__phones {
  margin: 0;
  margin-right: 10px;
}

.contacts__phone {
  @include link-reset;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.contacts__link {
  @include btn;

  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.contacts__location {
  margin: 0;
  width: 100%;

  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.025em;
}
