.logo {
  margin: 0;
}

.logo__string {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;

  &--big {
    color: $color-main;
    font-size: 74px;
    text-transform: uppercase;
  }

  &--small {
    color: $color-add;
    font-size: 30px;
  }
}
